.form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}
.form-input {
    padding: 14px 16px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    background-color: #fff;
    width: 100%;
    box-shadow: none;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

.form-input:focus{
    border-color: rgba(138, 51, 253, 0.5);
    outline: none;
    box-shadow: 0 0 0 2px rgba(138, 51, 253, 0.2);
}

.form-input::placeholder {
    color: #999;
}
